In [ ]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Spark_5').getOrCreate()

In [ ]:
data1=[
    ("mark",1000),
    ("bob",1500),
    ("charlie",2000),
    ("david",2200),
    ("eve",1200),
]

In [ ]:
employeeDF=spark.createDataFrame(data=data1,schema=["name","salary"])
employeeDF.show()

+-------+------+
|   name|salary|
+-------+------+
|   mark|  1000|
|    bob|  1500|
|charlie|  2000|
|  david|  2200|
|    eve|  1200|
+-------+------+

In [ ]:
#create 2nd dataframe
data2=[
    ("Alice","sales"),
     ("bob",1500),
    ("charlie",2000),
    ("david",2200),
    ("eve",1200),
]
column2=["employee_name","department"]
departmentDF=spark.createDataFrame(data2,column2)
departmentDF.show()

+-------------+----------+
|employee_name|department|
+-------------+----------+
|        Alice|     sales|
|          bob|      1500|
|      charlie|      2000|
|        david|      2200|
|          eve|      1200|
+-------------+----------+

In [ ]:
#inner join
inner_join_df=employeeDF.join(departmentDF,employeeDF.name==departmentDF.employee_name,"inner").show()

+-------+------+-------------+----------+
|   name|salary|employee_name|department|
+-------+------+-------------+----------+
|    bob|  1500|          bob|      1500|
|charlie|  2000|      charlie|      2000|
|  david|  2200|        david|      2200|
|    eve|  1200|          eve|      1200|
+-------+------+-------------+----------+

In [ ]:
#outer join
outer_join_df=employeeDF.join(departmentDF,employeeDF.name==departmentDF.employee_name,"outer").show()

+-------+------+-------------+----------+
|   name|salary|employee_name|department|
+-------+------+-------------+----------+
|   NULL|  NULL|        Alice|     sales|
|    bob|  1500|          bob|      1500|
|charlie|  2000|      charlie|      2000|
|  david|  2200|        david|      2200|
|    eve|  1200|          eve|      1200|
|   mark|  1000|         NULL|      NULL|
+-------+------+-------------+----------+

In [ ]:
#left join
left_join_df=employeeDF.join(departmentDF,employeeDF.name==departmentDF.employee_name,"left").show()

+-------+------+-------------+----------+
|   name|salary|employee_name|department|
+-------+------+-------------+----------+
|   mark|  1000|         NULL|      NULL|
|    bob|  1500|          bob|      1500|
|  david|  2200|        david|      2200|
|charlie|  2000|      charlie|      2000|
|    eve|  1200|          eve|      1200|
+-------+------+-------------+----------+

In [ ]:
#right join
right_join_df=employeeDF.join(departmentDF,employeeDF.name==departmentDF.employee_name,"right").show()

+-------+------+-------------+----------+
|   name|salary|employee_name|department|
+-------+------+-------------+----------+
|   NULL|  NULL|        Alice|     sales|
|    bob|  1500|          bob|      1500|
|  david|  2200|        david|      2200|
|charlie|  2000|      charlie|      2000|
|    eve|  1200|          eve|      1200|
+-------+------+-------------+----------+

In [ ]:
#left_anti_join
left_anti_join_df=employeeDF.join(departmentDF,employeeDF.name==departmentDF.employee_name,"left_anti").show()

+----+------+
|name|salary|
+----+------+
|mark|  1000|
+----+------+